/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100000 [year]
      ,[ClassCategory]
      ,[ClassCategoryName]
      ,[ClassCategoryDescription]
      ,[ClassCategoryNotes]
      ,[ClassVariable]
	  ,[ClassVariable]
      ,[SortOrder]
      ,[ClassVariableName]
      ,[ClassVariableDescription]
      ,[ClassVariableNotes]
      ,[Statistic]
      ,[StatisticName]
      ,[StatisticDescription]
      ,[StatisticNotes]
      ,[Variable]
      ,[VariableName]
      ,[VariableDescription]
      ,[VariableNotes]
      ,[Amount]
      ,[Datapoints]
      ,[RepresentingHouseholds]
      ,[LagAmount]
  FROM [FarmIncomeInternal].[WorkArea].[ARMS_FM_Data_View]